In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
data= pd.read_csv("C:/Users/adithyan/Desktop/PRACTISE/datasets/Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
X = data.drop(columns=['Species']) 
y = data['Species']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print(f"Training data size: {len(X_train)}")
print(f"Test data size: {len(X_test)}")

Training data size: 120
Test data size: 30

In [6]:
X_train.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
22  23            4.6           3.6            1.0           0.2
15  16            5.7           4.4            1.5           0.4
65  66            6.7           3.1            4.4           1.4
11  12            4.8           3.4            1.6           0.2
42  43            4.4           3.2            1.3           0.2

In [7]:
csv_column_name = ['SepalLengthCm', 'SepalWidthCm', 'SepalWidthCm', 'SepalWidthCm','Species']
species = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [8]:
def input_fn(features,labels,training = True, batch_size = 256):
    dataset = tf.data.Dataset.from_tensor_slices((dict(features),labels))
    if training:
        dataset = dataset.shuffle(1000).repeat()
    return dataset.batch(batch_size)

In [9]:
my_feature_columns = []
for key in X_train.keys():
    my_feature_columns.append(tf.feature_column.numeric_column(key=key))
print(my_feature_columns)

WARNING:tensorflow:From C:\Users\adithyan\AppData\Local\Temp\ipykernel_28040\42852893.py:3: numeric_column (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.
[NumericColumn(key='Id', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='SepalLengthCm', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='SepalWidthCm', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalLengthCm', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalWidthCm', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [ ]:
import tensorflow_estimator
classifier =tensorflow_estimator.estimator.DNNClassifier(feature_columns=my_feature_columns,hidden_units=[30,10],n_classes=3)

In [ ]:
classifier.train(input_fn=lambda:input_fn(X_train,y_train,training=True),steps=5000)

In [ ]:
eval = classifier.evaluate(input_fn=lambda:input_fn(X_test,y_test,training = False))